/* tweaks */
.push { /*to add a little padding*/
	padding-top: 50px;
}

img {
  display: block;
  margin: 0 auto;
}

.rows, .b2t {
	text-align: center;
}
.clear {
	clear: both;
	padding-top: 1%;
}

.wrapper {
	margin: 0 auto;
	max-width: 960px; /* 2 */

  	padding-right: 10px; /* 3 */
  	padding-left:  10px; /* 3 */
  	overflow: hide;

}

.text {
	text-align: justify;
}

#growing{
	margin-top: 20px;
}
/* text FONT NEED A REDO*/
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

h3 {
	color: #555;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

h3, p, footer {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}
.icon {
	text-align: center;
	margin: 4% auto;
	/*margin: 4% auto;*/
	font-size: 5em;
	display: block;
	color: #bbbbbb;

}
.iconlink, a, h4 a{
	color: #aaa;
}

.iconlink, a:hover{
	color: #555
}
.skill {
	margin: 0 auto;
	text-align: center;
}

.top-bar .name h1 a {
	color: black;
	font-family: 'Monsterrat', sans-serif;
	font-weight: 800;
	font-size: 1.3em;
}
.makeabig {
	font-size: 3em;
	margin: 0 2.3% 0 0;
}

p a {
	color: #444;
}


footer {
	text-align: center;
	margin-bottom: 1.2%;
	font-size: 0.7em;
}

.infotext p{
	font-size: 0.85em;

}

/* !!!!design!!!! */

	 /*navigation*/

nav ul {
	background-color:#ffffff;
	color: #555;
}
.top-bar {
	background-color:#ffffff;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    background: #ffffff;
    color: #bbb;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 200;
    font-size: 0.9em;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #ffffff;
    color: #000;
    transition: 0.5s;
}

.contain-to-grid {
    width: 100%;
    background: #fff;
}

	/*Build the wall*/
.borderizer {
	width: 71%;
	border-bottom: solid black;
	border-width: 1px;
	margin-bottom: 1%;
}
/*image zoom*/
.z:hover {
-webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    transition: all .2s;
}


/*media queries*/
@media screen and (max-width: 692px)   {
    .unfloat{
        width:100%;   
        float:none;
        margin: 0 auto;
        text-align: center;
    }
    .zoom-oot{
    	width:60%;
    	height:auto;
    	margin-bottom: 30px;
    }
    
}
@media only screen and (min-width: 40.063em) { 
	body {
		margin: 0 3%;
	}
	.borderizer {
		width: 100%;
	}


}

@media only screen and (max-width: 40em) {
	body {
		margin: 0 3%;
	}

	footer {
			font-size: 0.1em;
	}
	.borderizer {
		width: 100%;
	}
}
